@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Zero Hunger</h1>
    </center>
        <p class="lead">Goal 2 aims to end hunger and all forms of malnutrition by 2030. · The fight against hunger has progressed over the past 15 years.</p>
        <p><a href="https://www.un.org/sustainabledevelopment/hunger/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <center>
            <h2>Getting started</h2>
        </center>
            <p>
                We are an NGO who works for feeding deprived people and children. We have observed that, people are wasting a ton of food every day in Dhaka city (like office programs, buffets etc etc). We are on a mission to make the usage of this foods. We have contacted with some restaurants, and they agreed to give us those foods before it gets rotten, or they will preserve those foods till we collect from them
            </p>
        
        <p><a class="btn btn-default" href="https://www.un.org/sustainabledevelopment/hunger/">Learn more &raquo;</a></p>
    </div>
</div>